body {
    font-family: "Raleway", sans-serif;
    max-width:1600px;
}
h1 {
    font-family: "Raleway", sans-serif;
}
h2 {
    font-family: "Raleway", sans-serif;
}
h3 {
    font-family: "Raleway", sans-serif;
}
h4 {
    font-family: "Raleway", sans-serif;
}
h5 {
    font-family: "Raleway", sans-serif;
}
.w3-third img {
    margin-bottom: -7px;
    opacity: 0.8;
    cursor: pointer;
}
.w3-third img:hover {
    opacity: 1;
}
.w3-sidebar {
    z-index:3;
    width:300px;
    font-weight:bold;
}
.w3-overlay {
    cursor:pointer;
}
.w3-main {
    margin-left:300px;
}
.w3-hide-large {
    margin-top:83px;
}
.w3-modal {
    padding-top:0;
}